<h2>Изменение пароля</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
  <!--%= devise_error_messages! %>-->
  <div class="col-md-7">
    <%= render partial: 'partials/form_errors', locals: {model: resource}, class: "input-group col-xs-4" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Ожидается подтверждение: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>

  <div class="col-md-7">
    <div class="row">
      <div class="form">
        <div class="controls">
          <%= f.label :password %>
        </div>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        <span id="helpBlock2" class="help-block">
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> символов минимум</em>
        <% end %>
      </span>

        <div class="controls">
          <%= f.label :password_confirmation %><br/>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>

        <div class="controls">
          <%= f.label :current_password %> <i>(введите текущий пароль, для подтверждения личности)</i><br/>
        </div>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>

        <div class="btn-group">
          <%= f.submit 'Обновить', class: 'btn btn-primary buffer-both' %>
          <%= link_to 'Вернуться', :back, class: 'btn btn-warning buffer-both' %>
        </div>
      </div>
    </div>

<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :delete}) do |f| %>
  <div class="row">
    <div class="form">
      <div class="buffer-bottom">
        <h2>Удаление аккаунта</h2>
        <p>Не понравильсь приложение? Пожалуйста напишите нам что вам не понравилось на <%= t('app.contacts.feedback-email') %>. </p>
        <%= f.submit "Удалить аккаунт", class: 'btn btn-danger buffer-bottom', data: { confirm: 'Вы уверены, что хотите удалить аккаунт?' }  %>
      </div>
    </div>
  </div>
  </div>
<% end %>

