<h2>Забыли пароль?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
  <div class="row">
    <div class="input-group col-xs-4">
      <%= render partial: 'partials/form_errors', locals: {model: resource} %>
        <div class="form-horizontal">
          <div class="controls">
            <%= f.label :email %><br/>
          </div>
          <div class="input-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          </div>
        </div>
        <%= f.submit "Отправить инструкции", class: 'btn btn-primary buffer-both' %>
    </div>
  </div>
<% end %>
