<%= form_for(@event) do |f| %>

  <%= render partial: 'partials/form_errors', locals: {model: @event} %>

  <div class="form">
    <div class="controls">
      <%= f.label :title %>
    </div>
    <%= f.text_field :title, class: 'form-control' %>


    <div class="controls">
      <%= f.label :address %>
    </div>
    <%= f.text_field :address, class: 'form-control' %>


    <div class="controls">
      <%= f.label :datetime %>
    </div>
    <p><%= f.datetime_select :datetime, class: 'form-control' %></p>


    <div class="controls">
      <%= f.label :description %>
    </div>
    <%= f.text_area :description, class: 'form-control' %>

    <div class="controls">
      <%= f.label :pincode %>
    </div>
    <%= f.text_field :pincode, class: 'form-control' %>


    <div class="btn-group">
      <%= f.submit 'Сохранить', class: 'btn btn-primary buffer-both' %>
      <%= link_to 'Вернуться', :back, class: 'btn btn-warning buffer-both' %>
    </div>
  </div>
<% end %>
