<h1 class="text-center">Доступ только по пин-коду!</h1>

<%= form_tag('',method: :post) do |f| %>
  <div class="controls">
    <%= label_tag 'пин-код', :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="controls">
    <%= submit_tag 'Сохранить', class: 'btn btn-primary buffer-both' %>
  </div>
<% end %>

<%= link_to 'На главную', events_path, class: 'btn btn-warning buffer-both'%>